.navbar{
    padding: 1rem;
    width: 100vw;
}
.navbar-nav{
    position: absolute;
    right: 1rem;
}
@media (max-width: 980px) {
    .navbar-nav{
        position: relative;
        right: 0;
    }
}
.nav-item a{
    font-size: x-large;
    margin: 1rem;
}
.active{
    color: white;
}
.brand{
    width: 21rem;
    margin: 1rem;
}
@media (max-width: 980px) {
    .brand{
        width: 50%;
        margin: 0.5rem;
    }
}